
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    }
   /* line 1, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_service.scss */
.service_area {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_service.scss */
  .service_area {
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_service.scss */
  .service_area {
    padding-bottom: 50px;
  }
}

/* line 10, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_service.scss */
.service_area .single_service {
  padding: 48px 35px 45px 35px;
  border: 1px solid #E8E8E8;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 10, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_service.scss */
  .service_area .single_service {
    padding: 30px 20px;
  }
}

/* line 21, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_service.scss */
.service_area .single_service h3 {
  font-size: 24px;
  font-weight: 600;
  color: #2C2C2C;
  margin-top: 24px;
  padding-bottom: 12px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 21, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_service.scss */
  .service_area .single_service h3 {
    font-size: 22px;
  }
}

/* line 31, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_service.scss */
.service_area .single_service p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}

/* line 38, ../../Arafath/CL/CL October/218 PORTFOLIO/HTML/scss/_service.scss */
.service_area .single_service:hover {
  border: 1px solid #615CFD;
}

.service_area .single_service:hover{
  border: 1px solid #615CFD;
}
 
    a {
    color: #ec03e0;
    transition: 0.5s;
    }
    p.price{
    color: #ec03e0;
    font-weight: bold;
    }
    
    a:hover, a:active, a:focus {
    color: #ec03e0;
    outline: none;
    text-decoration: none;
    }
    
    p {
    padding: 0;
    margin: 0 0 30px 0;
    }
    
    h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    }
    
    /* Prelaoder */
    #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
    }
    
    /* Back to top button */
    .back-to-top {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    }
    
    @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
    }
    
    .back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
    }
    
    .back-to-top:hover {
    background: #ec03e0;
    color: #fff;
    }
    
    /*--------------------------------------------------------------
    # Welcome
    --------------------------------------------------------------*/
    #hero {
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../img/codebackground.jpg) top center;
    background-size: cover;
    }
    
    @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
    }
    
    #hero .hero-logo {
    margin: 20px;
    }
    
    #hero .hero-logo img {
    max-width: 100%;
    }
    
    #hero .hero-container {
    
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    }
    
    #hero h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
    }
    
    @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    }
    
    
    h4.internet-title{
        font-size: 28px;
      line-height: 36px;
      text-align: center;
    }
    #hero h2 {
    color:white;
    font-weight: bold;
    font-size:50px;
    margin-bottom: 50px;
    }
    
    @media (max-width: 768px) {
    #hero h2 {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 30px;
    }
    #hero h2 .rotating {
      display: block;
    }
    }
    
    #hero .rotating > .animated {
    display: inline-block;
    }
    
    #hero .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    }
    
    #hero .btn-get-started {
    background:#ec03e0;
    border: 2px solid #ec03e0;
    color: #fff;
    }
    
    #hero .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    }
    
    #hero .btn-services {
    border: 2px solid #fff;
    color: #fff;
    }
    
    #hero .btn-services:hover {
    background: #ec03e0;
    border: 2px solid #ec03e0;
    }
    
    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    #header {
    background: #111;
    padding: 20px 0;
    height: 90px;
    }
    img.image-logo{
    width:80px;
    height:150px;
    }
    #header #logo {
    float: left;
    }
    
    #header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    }
    
    #header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
    }
    
    #header #logo img {
    padding: 0;
    margin: 0;
    max-height: 50px;
    }
    
    @media (max-width: 768px) {
    #header {
      height: 80px;
    }
    #header #logo h1 {
      font-size: 26px;
    }
    #header #logo img {
      max-height: 40px;
    }
    }
    
    .is-sticky #header {
    background: rgba(0, 0, 0, 0.85);
    }
    
    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /* Nav Menu Essentials */
    .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
    .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    }
    
    .nav-menu li {
    position: relative;
    white-space: nowrap;
    }
    
    .nav-menu > li {
    float: left;
    }
    
    .nav-menu li:hover > ul,
    .nav-menu li.sfHover > ul {
    display: block;
    }
    
    .nav-menu ul ul {
    top: 0;
    left: 100%;
    }
    
    .nav-menu ul li {
    min-width: 180px;
    }
    
    /* Nav Menu Arrows */
    .sf-arrows .sf-with-ul {
    padding-right: 30px;
    }
    
    .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    }
    
    .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
    }
    
    /* Nav Meu Container */
    #nav-menu-container {
    float: right;
    margin: 5px 0;
    }
    
    @media (max-width: 768px) {
    #nav-menu-container {
      display: none;
    }
    }
    
    /* Nav Meu Styling */
    .nav-menu a {
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    outline: none;
    }
    
    .nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
    color: #ec03e0;
    }
    
    .nav-menu ul {
    margin: 4px 0 0 15px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
    }
    
    .nav-menu ul li {
    background: #fff;
    border-top: 1px solid #f4f4f4;
    }
    
    .nav-menu ul li:first-child {
    border-top: 0;
    }
    
    .nav-menu ul li:hover {
    background: #f6f6f6;
    }
    
    .nav-menu ul li a {
    color: #333;
    }
    
    .nav-menu ul ul {
    margin: 0;
    }
    
    /* Mobile Nav Toggle */
    #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    }
    
    #mobile-nav-toggle i {
    color: #fff;
    }
    
    @media (max-width: 768px) {
    #mobile-nav-toggle {
      display: inline;
    }
    }
    
    /* Mobile Nav Styling */
    #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
    }
    
    #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    }
    
    #mobile-nav ul li {
    position: relative;
    }
    
    #mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    }
    
    #mobile-nav ul li a:hover {
    color: #fff;
    }
    
    #mobile-nav ul li li {
    padding-left: 30px;
    }
    
    #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    }
    
    #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #ec03e0;
    }
    
    #mobile-nav ul .menu-item-active {
    color: #ec03e0;
    }
    
    #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    }
    
    /* Mobile Nav body classes */
    body.mobile-nav-active {
    overflow: hidden;
    }
    
    body.mobile-nav-active #mobile-nav {
    left: 0;
    }
    
    body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
    }
    
    /*--------------------------------------------------------------
    # Sections
    --------------------------------------------------------------*/
    /* Sections Common
    --------------------------------*/
    h3.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    }
    h2.section-title {
    font-size: 35px;
    color: #111;
    
    text-align: center;
    font-weight: 700;
    }
    h4.section-title {
    font-size: 35px;
    color: #111;
    
    text-align: center;
    font-weight: 700;
    }
    h5.section-title {
    font-size: 20px;
    color: #111;
    
    text-align: center;
    font-weight: 500;
    }
    .section-title h4{
    font-size: 28px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    }
    
    .section-description {
    text-align: center;
    margin-bottom: 40px;
    }
    
    .section-title-divider {
    width: 50px;
    height: 3px;
    background: violet;
    margin: 0 auto;
    margin-bottom: 20px;
    }
    
    /* Get Started Section
    --------------------------------*/
    #about {
    background: #fff;
    padding: 80px 0;
    }
    
    #about .about-img {
    overflow: hidden;
    }
    
    #about .about-img img {
    max-width: 100%;
    }
    
    @media (max-width: 768px) {
    #about .about-img {
      height: auto;
    }
    #about .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
    }
    
    #about .about-content {
    background: #fff;
    }
    
    #about .about-title {
    color: #333;
    font-weight: 700;
    font-size: 26px;
    }
    
    #about .about-text {
    line-height: 26px;
    font-size:19px;
    margin-bottom: 15px;
    }
    
    #about .about-text:last-child {
    margin-bottom: 0;
    }
    
 
    /* Subscribe Section
    --------------------------------*/
    #subscribe {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/cover-bg-1.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
    }
    
    #subscribe .subscribe-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    }
    
    #subscribe .subscribe-text {
    color: #fff;
    }
    
    #subscribe .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
    }
    
    #subscribe .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 30px;
    border: 2px solid #fff;
    color: #fff;
    }
    
    #subscribe .subscribe-btn:hover {
    background: #ec03e0;
    border: 2px solid #ec03e0;
    }
    p.subscribe{
    font-size:19px;
    color:white;
    }
    
    /* Portfolio Section
    --------------------------------*/
    #portfolio {
    background: #fff;
    padding: 80px 0;
    }
    
    #portfolio .portfolio-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 260px;
    width: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: 30px;
    }
    
    #portfolio .portfolio-item .details {
    height: 260px;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
    }
    
    #portfolio .portfolio-item .details h4 {
    font-size: 16px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, -15px, 0);
    font-weight: 700;
    color: #333333;
    }
    
    #portfolio .portfolio-item .details span {
    display: block;
    color: #666666;
    font-size: 13px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 15px, 0);
    }
    
    #portfolio .portfolio-item:hover .details {
    opacity: 0.8;
    }
    
    #portfolio .portfolio-item:hover .details h4 {
    transform: translate3d(0, 0, 0);
    }
    
    #portfolio .portfolio-item:hover .details span {
    transform: translate3d(0, 0, 0);
    }
    
    /* Testimonials Section
    --------------------------------*/
    
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: "Lato";
      background: url('https://subtlepatterns.com/patterns/sativa.png');
    }
    
    .main-gallery {
      background: #fff;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
      border-top: solid 10px #7AA641;
    
    }
    
    .gallery-cell {
      width: 100%;
    }
    
    .testimonial {
      text-align: center;
      max-width: 850px;
      margin: 100px auto 130px auto;
      padding: 0 20px;
    }
    
    .testimonial-avatar {
      width: 100px;
      border-radius: 50%;
    }
    
    .testimonial-quote {
      display: block;
      font-size: 24px;
      font-weight: 300;
      padding: 10px 0;
    }
    
    .testimonial-author {
      display: block;
      font-weight: 800;
      color: #7AA641;
    }
    
    .flickity-page-dots {
      bottom: 25px;
    }
    
    .flickity-page-dots .dot.is-selected {
      background: #7AA641;
    }
    
    /* Contact Section
    --------------------------------*/
    #contact {
    background: #f7f7f7;
    padding: 80px 0;
    }
    
    #contact .info {
    color: #333333;
    }
    
    #contact .info i {
    font-size: 32px;
    color: #ec03e0;
    float: left;
    }
    
    #contact .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
    }
    
    #contact .form #sendmessage {
    color: rgb(235, 3, 216);
    border: 1px solid #ec03e0;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    }
    
    #contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    }
    
    #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block;
    }
    
    #contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
    }
    
    #contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    }
    
    #contact .form button[type="submit"] {
    background: rgb(235, 3, 196);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    }
    
    #contact .form button[type="submit"]:hover {
    background: #fc25df;
    }
    
    /*--------------------------------------------------------------
    # testimonial
    --------------------------------------------------------------*/
    
    /*--------------------------------------------------------------
    # testimonial
    --------------------------------------------------------------*/
    * {
    box-sizing: border-box;
    }
    
    body {
    font-family: "Lato";
    background: url('https://subtlepatterns.com/patterns/sativa.png');
    }
    
    .main-gallery {
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-top: solid 10px #7AA641;
    
    }
    
    .gallery-cell {
    width: 100%;
    }
    
    
    
    
    .testimonial-avatar {
    width: 100px;
    border-radius: 50%;
    }
    
    .testimonial-quote {
    display: block;
    font-size: 24px;
    font-weight: 300;
    padding: 10px 0;
    }
    
    
    .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:white;
    }
    p.jumbotron{
    font-weight:400;
    color: #0b0b0b;
    font-size:30px;
    }
    
    .testimonial-author {
    display: block;
    font-weight: 800;
    color: #7AA641;
    }
    
    .flickity-page-dots {
    bottom: 25px;
    }
    
    .flickity-page-dots .dot.is-selected {
    background: #7AA641;
    }
    
    /*--------------------------------------------------------------
    # testimonial
    --------------------------------------------------------------*/
    /*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
    #footer {
    background: #111;
    padding: 30px 0;
    color: #fff;
    }
    
    #footer .copyright {
    text-align: center;
    }
    
    #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
    }
    
    
    span.color{
    color: #fc25df;
    }
    
    section{
      padding: 60px 0;
    }
    
    #what-we-do{
    background:#ffffff;
    margin-left: 50px;
    margin-right: 50px;
    }
    #what-we-do .card{
      padding: 1rem!important;
      border: none;
      margin-bottom:1rem;
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
    }
    #what-we-do .card:hover{
      -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    
    }
    #what-we-do .card .card-block{
      padding-left: 50px;
      position: relative;
    }
    #what-we-do .card .card-block a{
      color: #7b0075 !important;
      font-weight:700;
      text-decoration:none;
    }
    #what-we-do .card .card-block a i{
      display:none;
      
    }
    #what-we-do .card:hover .card-block a i{
      display:inline-block;
      font-weight:700;
      
    }
    #what-we-do .card .card-block:before{
      font-family: FontAwesome;
      position: absolute;
      font-size: 39px;
      color: #7b005c;
      left: 0;
      -webkit-transition: -webkit-transform .2s ease-in-out;
      transition:transform .2s ease-in-out;
    }
    #what-we-do .card .block-1:before{
      content: "\f0e7";
    }
    #what-we-do .card .block-2:before{
      content: "\f0eb";
    }
    #what-we-do .card .block-3:before{
      content: "\f00c";
    }
    #what-we-do .card .block-4:before{
      content: "\f209";
    }
    #what-we-do .card .block-5:before{
      content: "\f0a1";
    }
    #what-we-do .card .block-6:before{
      content: "\f218";
    }
    #what-we-do .card:hover .card-block:before{
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);	
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
    }
    
    
    /*services*/
    
    .section-title {
      position: relative
    }
    .section-title p {
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: 400;
    }
    
    .section-title h4:before {
      position: absolute;
      content: "";
      width: 80px;
      height: 2px;
      background-color: #d8d8d8;
      bottom: 0;
      left: 50%;
      margin-left: -40px;
    }
    p.price{
    font-weight: 800;
    text-align: center;
    font-size: 40px;
    }
    .section-title h4:after {
      position: absolute;
      content: "";
      width: 50px;
      height: 2px;
      background-color: #ec03e0;
      left: 0;
      bottom: 0;
      left: 50%;
      margin-left: -25px;
    }
    .pt-100 {
      padding-top: 100px;
    }
    .pb-100 {
      padding-bottom: 100px;
    }
    .mb-100{
      margin-bottom:100px;
    }
    .services {
      background-color: #FBFBFB;
    }
    .single-service {
      position: relative;
      text-align: center;
      margin-bottom: 50px;
      -webkit-transition: .3s;
      transition: .3s;
      padding: 30px 20px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16)
    }
    .single-service:before {
      position: absolute;
      width: 0;
      height: 0;
      background-color: #ec03e0;;
      left: 0;
      top: 0;
      content: "";
      -webkit-transition: .3s;
      transition: .3s
    }
    .single-service:after {
      position: absolute;
      width: 0;
      height: 0;
      background-color: #ec03e0;
      right: 0;
      bottom: 0;
      content: "";
      -webkit-transition: .3s;
      transition: .3s
    }
    .single-service:hover:after,
    .single-service:hover:before {
      width: 50%;
      height: 2px;
      -webkit-transition: .3s;
      transition: .3s
    }
    .single-service:hover {
      box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
    }
    .single-service i.fa {
      font-size: 20px;
      width: 60px;
      height: 60px;
      border: 1px solid #ddd;
      line-height: 60px;
      margin-bottom: 30px;
      border-radius: 50%;
      -webkit-transition: .3s;
      transition: .3s
    }
    .single-service:hover i.fa {
      background-color: #ec03e0;
      color: #fff;
      border-color: #ec03e0;
      border-radius: 0;
    }
    .single-service h4 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 15px;
      text-transform: capitalize;
    color:purple;
    }
    .single-service p {
      font-size: 15px;
      line-height: 1.8;
    }
    
    
    
    .testimonial-container {
      background-color: rgba(245, 245, 245, 1);
      width: 100%;
    }
    
    .cd-testimonials-wrapper {
      position: relative;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      background-color: rgba(245, 245, 245, 1);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding: 100px 0px 40px;
      z-index: 1;
    }
    
    .cd-testimonials-wrapper h2 {
      text-align: center;
      position: absolute;
      width: 100%;
      top: 60px;
      margin: 0 auto;
    }
    
    @media only screen and (min-width: 768px) {
      .cd-testimonials-wrapper {
          padding: 170px 0px 60px;
      }
      .cd-testimonials-wrapper h2 {
          text-align: center;
          position: absolute;
          width: 100%;
          top: 100px;
          margin: 0 auto;
      }
    }
    
    .testimonial-content {
      max-width: 1000px;
      width: 80%;
      margin: 0 auto 30px auto;
    }
    
    .cd-testimonials {
      color: rgba(130, 132, 139, 1);
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .cd-testimonials > li {
      position: absolute;
      opacity: 0;
    }
    
    .cd-testimonials > li:first-child {
      position: relative;
      opacity: 1;
    }
    
    .testimonial-content p {
      font-style: italic;
      line-height: 1.4;
      margin-bottom: 1em;
      padding: 0 14px;
    }
    
    @media only screen and (min-width: 768px) {
      .testimonial-content p {
          font-size: 20px;
          font-family: 'Open Sans';
      }
    }
    
    @media only screen and (min-width: 1170px) {
      .testimonial-content p {
          font-size: 24px;
          line-height: 1.6;
      }
    }
    
    .cd-author-info span p {
      display: inline-block;
      font-size: 14px;
      padding-left: 0;
    }
    
    .cd-author-info span p a {
      color: rgba(126, 129, 136, 1);
    }
    
    .cd-author img,
    .cd-author .cd-author-info {
      display: inline-block;
      vertical-align: top;
    }
    
    .cd-author img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 5px;
    }
    
    .cd-author .cd-author-info {
      text-align: left;
      line-height: 1
    }
    
    .cd-author .cd-author-info li:first-child {
      font-size: 14px;
      margin-top: 4px;
    }
    
    .cd-author .cd-author-info li:last-child {
      font-size: 12px;
      color: #6b6b70;
    }
    
    ul.cd-author-info {
      list-style: none;
    }
    
    ul.cd-author-info li span:before {
      font-family: 'FontAwesome';
      content: '\f099';
      font-size: 24px;
      display: inline-block;
      position: absolute;
      margin-top: 2px;
      font-style: normal;
      margin-left: -30px;
    }
    
    ul.cd-author-info li span {
      font-size: 14px;
      padding-left: 30px;
      line-height: 24px;
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      font-weight: 300;
    }
    
    @media only screen and (min-width: 768px) {
      .cd-author img {
          width: 58px;
          height: 58px;
      }
      .cd-author .cd-author-info {
          line-height: 1.4;
      }
      .cd-author .cd-author-info li:first-child {
          font-size: 18px;
      }
    }
    
    @media only screen and (max-width: 320px) {}
    
    .flex-direction-nav a {
      text-decoration: none;
      display: block;
      width: 50px;
      height: 100%;
      margin: 0px 0 0;
      position: absolute;
      z-index: 9999;
      top: 0;
      overflow: hidden;
      opacity: 1;
      background: rgba(245, 245, 245, 1);
      cursor: pointer;
      color: rgba(255, 255, 255, .5);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    
    .flex-direction-nav a:before {
      font-size: 40px;
      content: url('https://dl.dropboxusercontent.com/u/97609687/codepen/chevronleft.svg');
      position: absolute;
      display: block;
      top: 50%;
      padding: 14px 10px 14px 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    
    .flex-direction-nav a.flex-next:before {
      content: url('https://dl.dropboxusercontent.com/u/97609687/codepen/chevronright.svg');
      padding: 14px 20px 14px 10px;
    }
    
    .flex-direction-nav .flex-prev {
      left: 0px;
    }
    
    .flex-direction-nav .flex-next {
      right: 0px;
      text-align: right;
    }
    
    .flexslider:hover .flex-direction-nav .flex-prev {
      opacity: 1;
      left: 0px;
    }
    
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
      opacity: 1;
    }
    
    .flexslider:hover .flex-direction-nav .flex-next {
      opacity: 1;
      right: 0px;
    }
    
    .flexslider:hover .flex-direction-nav .flex-next:hover {
      opacity: 1;
    }
    
    .flex-direction-nav .flex-disabled {
      opacity: 0!important;
      filter: alpha(opacity=0);
      cursor: default;
    }
    
    .flex-control-paging li a {
      width: 6px;
      height: 6px;
      display: block;
      background: #666;
      background: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      text-indent: -9999px;
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    
    .flex-control-paging li a:hover {
      background: #333;
      background: rgba(0, 0, 0, 0.7);
    }
    
    .flex-control-paging li a.flex-active {
      background: #000;
      background: rgba(2, 23, 31, 1);
      cursor: default;
    }
    
    .flex-control-nav {
      bottom: 30px;
      position: absolute;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 100%;
    }
    
    .flex-control-nav li {
      display: inline-block;
      padding: 0px 5px 0px 5px;
    }
    
    @media screen and (max-width: 767px) {
      .flex-direction-nav a {
          width: 30px;
      }
      .flex-direction-nav a:before {
          visibility: hidden;
      }
      .flex-direction-nav a:before {
          padding: 14px 0px 10px 0px;
      }
      .flex-direction-nav .flex-prev {
          left: 0px;
      }
      .flex-direction-nav .flex-next {
          right: 0px;
          text-align: right;
      }
      .flexslider:hover .flex-direction-nav .flex-prev {
          opacity: 1;
          left: 0px;
      }
      .flexslider:hover .flex-direction-nav .flex-prev:hover {
          opacity: 1;
      }
      .flexslider:hover .flex-direction-nav .flex-next {
          opacity: 1;
          right: 0px;
      }
      .flex-direction-nav {
          visibility: hidden;
      }
    }
    
    
    /*==========pricing table*/
    
    
    .heading-title
    {
      margin-bottom: 100px;
    }
    .pricingTable{
      text-align: center;
      border: 1px solid #dbdbdb;
      position: relative;
      overflow: hidden;
      background-color: white;
      box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.5);
    }
    
    .pricingTable .pricingTable-header h3{
      color: #9999a5;
    
      text-transform: uppercase;
      font-family: "Montserrat", Sans-serif;
      font-size: 28px;
      font-weight: 400;
      margin-top: 15px;
    }
    
    .pricingTable .price-value {
      background: #fafafa;
      color: #666;
      font-weight: 900;
      padding: 15px 0;
    }
    
    .pricingTable .price-value span {
      color: #666;
      display: inline-block;
      font-size: 70px;
      font-weight: normal;
      line-height: normal;
    }
    
    .pricingTable .price-value small{
      font-size: 20px;
      position: relative;
      top: -30px;
      left:0;
    }
    
    .pricingTable .price-value .subtitle{
      color: #82919F;
      display: block;
      font-size: 16px;
      font-weight: 100;
      font-style: italic;
    }
    
    .pricingTable .best-offer{
      background-color: #7c0b57;
      color: #fff;
      padding: 6px 50px;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      position: absolute;
      top: 20px;
      right: -55px;
      transform: rotate(45deg);
    }
    
    .pricingTable .pricingContent ul{
      list-style: none;
      padding: 0;
      margin-bottom: 0;
    }
    
    .pricingTable .pricingContent ul li{
      border-bottom:1px solid #ededed;
      color: #9999A5;
      padding: 10px 0 ;
    }
    
    .pricingTable .pricingContent ul li:first-child {
      border-top:1px solid #ededed;
    }
    
    .pricingTable .pricingTable-sign-up{
      padding: 25px 0;
    }
    
    .pricingTable .btn-block{
      background:#666;
      border-radius: 0px;
      border:0px none;
      color:#fff;
      width: 50%;
      padding: 10px 5px;
      margin: 0 auto;
      text-transform: capitalize;
      transition:all 0.3s ease 0s;
    }
    
    .pricingTable .btn-block:after{
      content: "\f090";
      font-family: 'FontAwesome';
      padding-left: 10px;
      font-size: 15px;
    }
    
    .pricingTable .btn-block:hover{
      background: #282828;
      color:#fff;
    }
    
    @media screen and (max-width:990px){
      .pricingTable{
          margin-bottom: 20px;
      }
    }
    .btn-default:hover {
    color: 
    #333;
    background-color:#fc25df;
    border-color:
    #adadad;
    }
    
    
    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
    
    #social {
    margin: 20px 10px;
    text-align: center;
    }
    
    .smGlobalBtn { /* global button class */
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border:2px solid #ddd; /* add border to the buttons */
      box-shadow: 0 3px 3px #999;
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 25px;
      font-weight: normal;
      line-height: 2em;
      border-radius: 27px;
      -moz-border-radius:27px;
      -webkit-border-radius:27px;
    }
    
    /* facebook button class*/
    .facebookBtn{
      background: #4060A5;
    }
    
    .facebookBtn:before{ /* use :before to add the relevant icons */
      font-family: "FontAwesome";
      content: "\f09a"; /* add facebook icon */
    }
    
    .facebookBtn:hover{
      color: #4060A5;
      background: #fff;
      border-color: #4060A5; /* change the border color on mouse hover */
    }
    
    /*ACCORDEON FAQ*/
    
    e.cssCSS
    /* Code By Webdevtrick ( https://webdevtrick.com ) */
    
    .container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
    }
    
    .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
    }
    .accordion a:hover,
    .accordion a:hover::after {
    cursor: pointer;
    color: #ff5353;
    }
    .accordion a:hover::after {
    border: 1px solid #ff5353;
    }
    .accordion a.active {
    color: #ff5353;
    border-bottom: 1px solid #ff5353;
    }
    .accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #7288a2;
    text-align: center;
    }
    .accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f209';
    color: #ff5353;
    border: 1px solid #ff5353;
    }
    .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
    }
    .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
    }
    .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
    }
    /* Code By Webdevtrick ( https://webdevtrick.com ) */
    
    
    
    
    .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: rgb(67, 23, 71);
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
    }
    .accordion a:hover,
    .accordion a:hover::after {
    cursor: pointer;
    color: #80087a;
    }
    .accordion a:hover::after {
    border: 1px solid #ec03e0;
    }
    .accordion a.active {
    color: #ec03e0;
    border-bottom: 1px solid #ec03e0;
    }
    .accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #7288a2;
    text-align: center;
    }
    .accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f209';
    color: #ec03e0;
    border: 1px solid #ec03e0;
    }
    .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
    }
    .accordion .content p {
    font-size: 18px;
    font-weight: 300;
    }
    .accordion .content li{
    font-size: 18px;
    font-weight: 300;
    }
    .accordion .content ul{
    font-size: 18px;
    font-weight: 300;
    }
    .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
    }
    
    #faq{
    background-color: rgb(247, 247, 247);
    color: #000;
    }
    
    
    /*card section procedure*/
    
    
    
    #about {
    padding: 16px;
    }
    
    .bdr {
    border: 1px solid red;
    }
    
    #portfolio {
    background: #fafafa;
    padding: 8px 0;
    }
    #portfolio .card {
    margin: 0 -8px 32px -8px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    }
    #portfolio .card .card-title {
    display: -webkit-box;
    
    -webkit-box-pack: end;
         
    padding: 16px;
    font-weight: 300;
    }
    
    p.card-para{
    text-align: center;
    font-size: 19px;
    }
    .card-title{
    font-size: 25px;
    text-align: center;
    }
    .card{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    
    #portfolio .card .card-data {
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
    }
    #portfolio .card hr {
    width: 90%;
    }
    /* #portfolio .card .card-hint {
    display: -webkit-box;
    display: flex;
    padding: 0 0 8px 8px;
    font-size: 0.9rem;
    font-weight: 300;
    } */
    #portfolio .card .card-hint i {
    font-size: 1.3rem;
    color: red;
    margin-right: 8px;
    }
    #portfolio .card {
    display: -webkit-box;
    
    position: absolute;
    top: -20px;
    left: 12px;
    background: linear-gradient(60deg, #ffa726, #EF6C00);
    color: white;
    width: 90px;
    height: 90px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    border-radius: 25%;
    }
    #portfolio .card .card-icon i {
    font-size: 4rem;
    }
    #portfolio #storageCard .card-icon {
    background: linear-gradient(60deg, #5E35B1, #039BE5);
    }
    #portfolio #storageCard .card-hint i {
    color: red;
    }
    #portfolio #loveCard .card-icon {
    background: linear-gradient(60deg, #F50057, #FF8A80);
    }
    #portfolio #loveCard .card-hint i {
    color: blue;
    }
    #portfolio #pizzaCard .card-icon {
    background: linear-gradient(60deg, #fb8c00, #FFCA29);
    }
    #portfolio #pizzaCard .card-hint i {
    color: red;
    }
    #portfolio #gameCard .card-icon {
    background: linear-gradient(60deg, #43A047, #FFEB3B);
    }
    #portfolio #gameCard .card-hint i {
    color: green;
    }
    
    /*responsive carousel slider*/
    .heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
    }
    
    .heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
    }
    .white-heading:after {
    
    background-position: center;
    }
    
    .heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
    }
    
    
    
    HTML CSS 
    
    Result 
    
    .heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
    }
    .white-heading{
    color: #ffffff;
    }
    .heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
    }
    .white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
    }
    
    .heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
    }
    .white-heading span {
    color: #ffffff;
    }
    /*-----Testimonial-------*/
    #testimonialbackground{
    background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
    background-position: center;
    background-size: cover;
    }
    .testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background: url(img/testimonial.bg-top.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
    }
    
    .testimonial {
    /* min-height: 375px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
      background-size: cover; */
    }
    #testimonial4 .carousel-inner:hover{
    cursor: -moz-grab;
    cursor: -webkit-grab;
    }
    #testimonial4 .carousel-inner:active{
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    }
    #testimonial4 .carousel-inner .item{
    overflow: hidden;
    }
    
    .testimonial4_indicators .carousel-indicators{
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    height: 20px;
    bottom: 15px;
    padding: 0 5px;
    cursor: e-resize;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    }
    .testimonial4_indicators .carousel-indicators li{
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    text-indent: 0;
    margin: 2px 3px;
    cursor: pointer;
    display: inline-block;
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    }
    .testimonial4_indicators .carousel-indicators .active{
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    margin: 2px 3px;
    background-color: #9dd3af;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    }
    .testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
    height: 3px;
    }
    .testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
    background: #eeeeee;
    -webkit-border-radius: 0;
    border-radius: 0;
    }
    
    .testimonial4_control_button .carousel-control{
    top: 175px;
    opacity: 1;
    width: 40px;
    bottom: auto;
    height: 40px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    line-height: 38px;
    text-shadow: none;
    text-align: center;
    position: absolute;
    background: transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
    transition: all 0.6s cubic-bezier(0.3,1,0,1);
    }
    .testimonial4_control_button .carousel-control.left{
    left: 7%;
    top: 50%;
    right: auto;
    }
    .testimonial4_control_button .carousel-control.right{
    right: 7%;
    top: 50%;
    left: auto;
    }
    .testimonial4_control_button .carousel-control.left:hover,
    .testimonial4_control_button .carousel-control.right:hover{
    color: #000;
    background: #fff;
    border: 2px solid #fff;
    }
    
    .testimonial4_header{
    top: 0;
    left: 0;
    bottom: 0;
    width: 550px;
    display: block;
    margin: 30px auto;
    text-align: center;
    position: relative;
    }
    .testimonial4_header h4{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
    
    .testimonial4_slide{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
    }
    .testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    }
    .testimonial p {
    color: #ffffff;
    font-size: 20px;
    
    }
    .testimonial4_slide h4 {
    color: #ffffff;
    font-size: 22px;
    }
    
    
    .testimonial .carousel {
    padding-bottom:50px;
    }
    .testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
    }
    /* ------testimonial  close-------*/
    
    
    /*card section procedure*/
    /* CSS Document */